PB_DB_HOST=postgres-container
PB_DB_PORT=5432
PB_DB_NAME=pb
PB_DB_USER=postgres
PB_DB_PASS=change-me
PB_BIND_HOST=0.0.0.0
PB_CONFIG_DIR=./runtime/Config
PB_DATA_DIR=./runtime/Data
PB_LOG_DIR=./runtime/Logs
PB_AUTH_PORT=39190
PB_GAME_PORT_1=39191
PB_GAME_PORT_2=39192
PB_GAME_PORT_3=39193
PB_MATCH_PORT=40009
PB_RCON_PORT=30000
